<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title> <!-- update to propper name -->
  <link rel="stylesheet" href="static/styles.css">
</head>
<div id="camera"></div>
<button id="capture-btn" onclick="take_photo()">Take Snapshot</button>
<div class = "after-cap" id = "ac" >
    <button onclick="window.location.reload()">Retake</button>       
    <button onclick="s()" type="submit">Submit</button>
</div>
      
<script src="static/webcam.js"></script>
<script src="static/main.js"></script>