<!-- temp page. should be intergrated to login -->
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<form action="/login" method="POST">
    <input type="text" id="username" name="username" placeholder="Username" required>
    <input type="password" id="password" name="password" placeholder="Password" required>
    <input type="email" id="email" name="email" placeholder="email" required>
    <button type="submit">Login</button>
</form>